<head>
	<!-- Stylesheet -->
    <link href="../../css/stylesheet.css" rel="stylesheet">

    <!-- Aceitar acentos -->
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Bootstrap -->
    <!-- Código copiado de http://getbootstrap.com/getting-started/ -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body>

	<form id="formulario" class="form-horizontal" onsubmit="return validarFormulario()" method="Get">
		<div class="form-group">
			<label for="metodo" class="col-sm-2 control-label"> Método </label>
			<div class="col-sm-10">
			    <select class="form-control" id="metodo">
			    	<option> Get </option>
					<option> Post </option>
			    </select>
			</div>
		</div>

		<div class="form-group">
			<label for="numeroDePedras" class="col-sm-2 control-label has-feedback"> Nº Pedras </label>
			<div class="col-sm-10"> 
				<input class="form-control" id="numPedras" placeholder="Número de Pedras" required type="numero"> 
				<span class="glyphicon form-control-feedback" id="iconeErroNumPedras" aria-hidden="true"></span>
			</div>

		</div>

		<div class="form-group">
			<label for="tamanhoDasPedras" class="col-sm-2 control-label"> Tamanho </label>

			<div class="col-sm-10"> <input id="tamanhoDaPedra" max="7" min="1" step="0.5" required type="number" value="3"> </div>
		</div>

		<div class="form-group">
			<label for="nomeMonstro" class="col-sm-2 control-label"> Nome </label>
			<div class="col-sm-10"> 
				<input type="nome" class="form-control" id="nomeMonstro" placeholder="Nome para o Incrível Monstro Verde que Come Pedras e Mora Debaixo da Terra" required> 
				<span class="glyphicon form-control-feedback" id="iconeErroNome" aria-hidden="true"></span>
			</div>
		</div>

		<div class="form-group">
			<label for="corCeu1" class="col-sm-2 control-label"> Primeira cor </label>
			<div class="col-sm-10">
			    <select class="form-control">
			    	<option> Azul </option>
					<option> Amarelo </option>
					<option> Indigo </option>
					<option> Laranja </option>
					<option> Verde </option>
					<option> Vermelho </option>
					<option> Violeta </option>
			    </select>
			</div>
		</div>

		<div class="form-group">
			<label for="corCeu2" class="col-sm-2 control-label"> Segunda cor </label>
			<div class="col-sm-10">
			    <select class="form-control">
			    	<option> Azul </option>
					<option> Amarelo </option>
					<option> Indigo </option>
					<option> Laranja </option>
					<option> Verde </option>
					<option> Vermelho </option>
					<option> Violeta </option>
			    </select>
			</div>
		</div>

		<div class="form-group">
		    <label for="tipoPedra" class="col-sm-2 control-label"> Tipo </label>

		    <div class="col-sm-10">
			    <select class="form-control">
			    	<option> Marroada </option>
					<option> Ametista </option>
					<option> Topazio </option>
					<option> Espinela </option>
			    </select>
		    </div>
	  	</div>

	  	<div class="form-group">
	  		<label for="pedraSortida" class="col-sm-2 control-label"> Tipo Sortida </label>

	  		<label class="checkbox-inline">
	  			<input type="radio" id="checkbox1" name="opcao" value="sim"> Sim
  			</label>
	  		<label class="checkbox-inline">
	  			<input type="radio" id="checkbox2" name="opcao" value="nao"> Não
  			</label>
	  	</div>

	  	<input class="btn btn-default" type="submit" value="Enviar">
	</form>

    <!-- JavaScript -->
	<script src="../../js/javascript.js"></script>
</body>