@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

#caixasDeSelecao {
	margin-left: 5%;
}

#enviar {
	margin-left: 90%;
}

#formulario {
    outline: 1px solid #AFBEC4;
	margin: 10% auto;
	padding: 1%;
	width: 40%;
}

label {
	text-align: center;
}

#verde {
	color: #309542;
}

#tam_pedras {
	text-align: center;
}

#titulo {
	font-family: 'Indie Flower', cursive;
	text-align: center;
}