#caixasDeSelecao {
	margin-left: 5%;
}

#enviar {
	margin-left: 90%;
}

#formulario {
    outline: 1px solid #AFBEC4;
	margin: 15% 7%;
	padding: 1%;
	width: 40%;
}

label {
	text-align: center;
}

#tam_pedras {
	text-align: center;
}